<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/styles/style.css">
  <title>Home Page</title>
</head>

<body>
  {{{body}}}

  
    <!-- Below is your custom application script
    <script src="scripts/app.js"></script>
     <script src="scripts/install.js"></script>
    <script src="scripts/mediaDevices-getUserMedia-polyfill.js"></script>
    -->
</body>
</html>
