<div class="grid-container">
    <header class="header">
        <div class="container">
            <button class="collapsible">upload</button>
            <div class="content">
                <div class="close_modal">X</div>
                    <form action="/api/projects" enctype="multipart/form-data" method="POST">
                        <div class="row">
                            <label for="title">
                                <h3>title</h3>
                            </label>
                            <input type="text" name="title" />
                        </div>
                        <div class="row">
                            <label for="description">
                                <h3>description</h3>
                            </label>
                            <input type="text" name="description" />
                        </div>
                        <div class="row">
                            <label for="description">
                                <h3>category</h3>
                            </label>
                            <input type="text" name="category" />
                        </div>
                        <div class="row">
                            <label for="location">
                                <h3>location</h3>
                            </label>
                            <input type="text" name="location" />
                        </div>
                        <div class="row">
                            <label for="oName">
                                <h3>owner</h3>
                            </label>
                            <input type="text" name="oName" />
                        </div>
                        <div class="row">
                            <label for="cName">
                                <h3>collaborator</h3>
                            </label>
                            <input type="text" name="cName" />
                        </div>
                        <div class="row" id="fileUpload">
                            <br>
                            <input type="file" name="myFile" />
                            <br>
                            <hr>
                            <input class="submitBtn" type="submit" value="send ->" />
                        </div>
                    </form>
            </div>
            <button class="collapsibleAuth">login</button>
            <div class="content">
                <form action="/api/projects" enctype="multipart/form-data" method="POST">
                    <label for="username">User
                        <input type="username">
                    </label>
                    <label for="password">Pass
                        <input type="password">
                    </label>
                </form>
            </div>
        </div>
    </header>

    <sidebar class="sidebar">
        <p contenteditable="true">notes</p>
    </sidebar>

    <main class="main">

        <div class="flex-container">

            <div class="leftCircle">
            </div>
            <div class="rightCircle">
            </div>
        </div>

        <div class="transport"></div>

    </main>

    <right class="right">
        <h2>Project Search</h2>
        <input type="search" id="search" name="q" label="Search">
        <button>search</button>
        <ul>
            <li>
                <h3>Example Result 1</h3>
            </li>
            <li>
                <h3>Example Result 2</h3>
            </li>
            <li>
                <h3>Example Result 3</h3>
            </li>
            <li>
                <h3>Example Result 4</h3>
            </li>
        </ul>
    </right>

    <footer class="footer">
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
