<div class="grid-container">
        <header class="header">
            <form action="/" enctype="multipart/form-data" method="post">
            <input class="upBtn" id="upload" type="file" accept="audio/*"></input>
            <input type="submit" value="Upload Here">
            </form>
        </header>
        <sidebar class="sidebar">
            <p contenteditable="true">testing</p>
        </sidebar>
        <main class="main">

            <div class="flex-container">
                <div class="leftCircle">
                </div>
                <div class="rightCircle">
                </div>
            </div>

            <div class="transport">
                transport
            </div>

        </main>
        <right class="right">
        </right>

        <footer class="footer">
        </footer>

    </div>

