<div class="grid-container">
    <header class="header">
        <form action="/api/projects" enctype="multipart/form-data" method="POST">
            <input type="text" name="description" />
            <input type="text" name="category" />
            <input type="text" name="location" />
            <input type="text" name="oName" />
            <input type="text" name="cName" />
            <input type="file" name="myFile" />
            <input type="submit" value="Upload a file" />
        </form>
    </header>
    <sidebar class="sidebar">
        <p contenteditable="true">notes</p>
    </sidebar>

    <main class="main">

        <div class="flex-container">

            <div class="leftCircle">
            </div>
            <div class="rightCircle">
            </div>
        </div>

        <div class="transport"></div>

    </main>
    
    <right class="right">
        <label for="site-search">search:</label>
        <input type="search" id="site-search" name="q" aria-label="Search">
        <button>search</button>
        <ul>
            <li>Example Result 1</li>
            <li>Example Result 2</li>
            <li>Example Result 3</li>
            <li>Example Result 4</li>
        </ul>
    </right>

    <footer class="footer">
    </footer>

</div>