* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Nunito', sans-serif;
}

/* add grid container - divs */

header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

main {
    grid-area: main;
}

.right {
    grid-area: right;
}

footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    min-height: 100%;
    grid-template:
        " header header header header "
        " sidebar main main right "
        " sidebar main main right "
        " sidebar main main right "
        " footer footer footer footer ";
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-gap: .3em;

}

.grid-container>div {
    font-size: 1em;
}

header {
    border: solid 3px red;
    height: 8rem;
    justify-items: stretch;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    width: 6em;
    height: 6em;
    background-color: rgba(126, 53, 53, 0.89);
    color: #ffffff;
    cursor: pointer;
    padding: 1em;
    margin: 1rem 40% 1rem 5%;
    border: inset .5em rgba(121, 51, 51, 0.411);
    border-radius: 50%;
    text-align: center;
    outline: none;
    font-size: 1em;
}

.collapsibleAuth {
    width: 6em;
    height: 6em;
    background-color: rgba(126, 53, 53, 0.89);
    color: #ffffff;
    cursor: pointer;
    padding: 1em;
    margin: 1rem 5% 1rem 41%;
    border: inset .5em rgba(121, 51, 51, 0.411);
    border-radius: 50%;
    text-align: center;
    outline: none;
    font-size: 1em;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: rgba(133, 69, 69, 0.76);
    border: outset .5em rgba(121, 51, 51, 0.411);
}
.active,
.collapsibleAuth:hover {
    background-color: rgba(133, 69, 69, 0.76);
    border: outset .5em rgba(121, 51, 51, 0.411);
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 2rem;
    display: none;
    position: fixed;
    overflow: hidden;
    background-color: #6aa1cef1;
    margin: auto auto;
    width: 20%;
    z-index: 1;
    border: black 1px solid;
    border-radius: 5px;

}

.content h3 {
    margin: 1rem;
}

.sidebar {
    border: solid 3px rgb(0, 0, 255);
    height: 60%;
    width: 10vw;
    background-color: whitesmoke;
    border-radius: .5em;
    box-shadow: .8em .8em 0 rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem 1rem 5rem;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#c7dae4), color-stop(4%, #ffffff)) 0 .3em;
    background-size: 100% 3rem;
    position: relative;
    line-height: 3rem;
    z-index: -1;
}

.sidebar p {
    margin: 0 0 3rem;
}

.sidebar:before {
    content: "";
    position: absolute;
    width: .3em;
    top: 0;
    left: 2.8em;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #db8888;
}

main {
    border: solid 3px green;
    height: 82vh;
    z-index: -1;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    size: 60%;
}

.leftCircle {
    width: 32rem;
    height: 32rem;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-flex;
    margin: 1rem;
}

.rightCircle {
    width: 32rem;
    height: 32rem;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-flex;
    margin: 1rem;
}

.transport {
    width: 60%;
    height: 5rem;
    border: 2px solid red;
    margin: 20vh auto auto auto;
    border-radius: 1em;
}

.right {
    border: solid 3px yellow;
    height: 20em;
    margin: 0 0 0 1em;
}

footer {
    position: relative;
    border: solid 3px black;
    height: 8rem;
    background-color: rgb(155, 155, 155);
}