* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Nunito', sans-serif;
}

/* add grid container - divs */

header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

main {
    grid-area: main;
}

.right {
    grid-area: right;
}

footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    min-height: 100%;
    grid-template:
        " header header header header "
        " . main main . "
        " . main main . "
        " . sidebar right . "
        " . sidebar right . ";
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-gap: .3em;

}

.grid-container>div {
    font-size: 1em;
}

header {
    border: solid 3px red;
    height: 8rem;
}

header .container {
    display: grid;
    justify-content: space-between;
}

/* *********** MODAL **************** */


/* Style the button that is used to open and close the collapsible content */


.collapsibleAuth {
    width: 6.5rem;
    height: 6.5rem;
    margin: 1vh 6vw 1vh 6vw;
    background-color: rgba(126, 53, 53, 0.89);
    color: #ffffff;
    cursor: pointer;
    padding: 1em;
    border: inset .5em rgba(121, 51, 51, 0.411);
    border-radius: 50%;
    text-align: center;
    outline: none;
    font-size: 1em;
    grid-column: 4;
    animation: authDown 1s ease-out;
}




/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* .active, */
.collapsibleAuth:hover {
    background-color: rgba(167, 51, 51, 0.849);
    border: outset .5em rgba(121, 51, 51, 0.411);
    box-shadow: -0.6em .6em 0 rgba(85, 29, 29, 0.322);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.253);
    font-size: 1.1rem;
    transition: .5s;
}

/* Style the collapsible content. Note: hidden by default */
.contentAuth {
    padding: 2rem;
    margin: auto auto;
    display: none;
    position: absolute;
    top: 1vh;
    left: 65%;
    width: 25vw;
    overflow: hidden;
    background-color: #6aa1ce;
    z-index: 1;
    border: black 3px ridge;
    border-radius: 5px;
    animation: authUp 1s; /* IE 10+, Fx 29+ */
    animation-timing-function: ease-in-out;

}

@keyframes authUp  {
    0% {
      top: -15vh;
    }
    100% {
      top: 1vh;
    }
  }
.content {
    padding: 2rem;
    margin: 10vh auto;
    /* display: none; */
    position: relative;
    width: 55%;
    overflow: hidden;
    background-image: url("../media/spiral.png");
    z-index: 1;
    border: black 3px ridge;
    border-radius: 5px;
}

.content h3 {
    margin: 1.2rem;
    font-weight: 100;
}

label {
    display: inline-block;
    width: 11rem;
    text-align: left;
}

.submitBtn {
    width: 2rem;
    height: 2rem;
    margin: 2vh 5vw 2vh 5vw;
    background-color: rgba(61, 124, 85, 0.993);
    color: #ffffff;
    cursor: pointer;
    padding: 1em;
    border: inset .5em rgba(82, 37, 37, 0.425);
    border-radius: 1rem;
    text-align: center;
    outline: none;
    font-size: .6em;
    transition: .3s
}

.submitBtn:hover {
    background-color: rgba(167, 51, 51, 0.849);
    border: outset .5em rgba(121, 51, 51, 0.411);
    font-size: .7rem;
    transition: .5s;
}

.close_modal {
    position: relative;
    top: 0;
    left: 95%;
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgba(153, 1, 1, 0.884);
    color: whitesmoke;
    border: 5px rgba(0, 0, 0, 0.288) solid;
    text-align: center;
    font-size: 1rem;
    padding: 0;

}

#fileUpload {
    background-color: #acc6da;
    border: #617f96a6 2px inset;
    border-radius: 5px;
    width: 10vw;
}


/* END OF MODAL */

/* SIDEBAR - NOTEPAD */
.sidebar {
    border: rgba(36, 36, 36, 0.705) 1px solid;
    height: 20vh;
    width: 25vw;
    background-image: url("../media/spiral.png");
    border-radius: .5em;
    box-shadow: .6em .6em 0 rgba(0, 0, 0, 0.1);
    padding: 1rem 0 1rem 5rem;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#c7dae4), color-stop(4%, #ffffff)) 0 .3em;
    background-size: 100% 3rem;
    position: relative;
    line-height: 3rem;
    z-index: -1;
}

.sidebar p {
    margin: 0 0 3rem;
}

.sidebar:before {
    content: "";
    position: absolute;
    height: 20vh;
    width: .3em;
    top: 0;
    left: 2.8em;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #db8888;
}

main {
    border: solid 3px green;
    height: 65vh;
    /* width: 100vw; */


}

.container {
    display: grid;
    grid-gap: 1px;
    max-width: 80rem;
    margin: auto auto;
    justify-content: space-evenly;
}

.leftCircle {
    width: 25rem;
    height: 25rem;
    border: 1px solid black;
    border-radius: 50%;
    grid-column: 1;
    margin: 5vh 3vw 0 3vw;
}


.rightCircle {
    width: 25rem;
    height: 25rem;
    border: 1px solid black;
    border-radius: 50%;
    grid-column: 3;
    margin: 5vh 3vw 0 3vw;
}

.transport {
    width: 28vw;
    height: 5rem;
    margin: 10vh auto;
    border-radius: 1em;
    grid-column: 1 / 4;
    text-align: center;
}

.player {
    max-width: 46rem;
    border: 5px inset rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.5);
    font-size: 0;
    z-index: 1;
}

.player_button {
    background: none;
    border: 0;
    line-height: 1;
    color: white;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    max-width: 50px;

}

.player_button:focus {
    border-color: #520d0d93;
}

.player_slider {
    width: .8rem;
    height: 2rem;
}

.player_controls {
    display: flex;
    position: relative;
    padding: 2px;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.1);
}

.player_controls>* {
    flex: 1;
}

.progress {
    flex: 10;
    position: relative;
    margin: 1px;
    display: flex;
    flex-basis: 100%;
    height: 1rem;
    background: rgba(0, 0, 0, 0.5);
    cursor: ew-resize;
}

.progress_filled {
    /* width: 50%; */
    background-color: #458ca8;
    flex: 0;
    flex-basis: 0%;

}

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    margin: 0 5px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0, ), 0 0 1px rgba(13, 13, 13, 0);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #a55252;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #b1c3ce;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #34759b;
    cursor: pointer;
}

.right {
    border: solid 1px yellow;
    height: 20vh;
    width: 25vw;
    margin: 0 0 0 5vw;
    padding: 2rem;
    text-align: center
}

